<header>
	<nav class="navbar-container">
		<button class="navbar-burger" (click)="onToggleMenu()">Burger</button>

		<a class="navbar-logo" href="https://ibent95.my.id">Ibent95</a>

		<ul class="navbar-menu">
			<li class="navbar-menu-item navbar-list">
				<a href="#" target="_blank" rel="noopener noreferrer">
					Services/API's 1
				</a>

				<ul class="navbar-list-item navbar-list">
					<li class="navbar-list-item">
						<a href="#" target="_blank" rel="noopener noreferrer">
							Dynamic Form Symfony
						</a>
					</li>
					<li class="navbar-list-item">Dynamic Form Lumen (Comming soon)</li>
				</ul>
			</li>
			<li class="navbar-menu-item">
				<a href="#" target="_blank" rel="noopener noreferrer">
					Services/API's 2
				</a>
			</li>
			<li class="navbar-menu-item">
				<a href="#" target="_blank" rel="noopener noreferrer">
					Services/API's 3
				</a>
			</li>
		</ul>

	</nav>
</header>