<section>
	<carousel [noPause]="isNoPause" [isAnimated]="isAnimated" [interval]="interval">
		<slide>
			<img src="assets/images/carousel-1.png" alt="first slide">

			<div class="carousel-caption d-none d-md-block">
				<h3>Dynamic Form Angular App</h3>
				<p>Dynamic Form app written in Angular 14.</p>
			</div>
		</slide>
		<slide>
			<img src="assets/images/carousel-2.png" alt="second slide">

			<div class="carousel-caption d-none d-md-block">
				<h3>Dynamic Form Angular App</h3>
				<p>View of Dynamic Form Angular App.</p>
			</div>
		</slide>
	</carousel>
</section>