<ng-container>

	<!-- 404 content if route not exist -->
	<ng-container *ngIf="!isRouteExists">
		<div class="full-width grid grid-cols-1 gap-4 content-center h-4/5">

			<div class="text-center">

				<i class="material-icons text-9xl" style="color: #68B984;">find_in_page</i>
				<!--<i class="material-icons text-9xl">browser_not_supported</i>-->
				<p class="text-3xl" style="color: #68B984;">404</p>
				<p class="text-3xl pb-7">Page not found</p>

				<button mat-stroked-button style="color: #68B984;" (click)="onBackButtonClick()">Back</button>

			</div>

		</div>
	</ng-container>

	<ng-container *ngIf="isRouteExists">

		<!-- Default content (home) -->
		<myp-home *ngIf="isRootRoute"></myp-home>

		<!-- Other content if route is exist -->
		<ng-container #dynamicRef></ng-container>

	</ng-container>

</ng-container>