<app-header></app-header>

<section>
	Slide show
</section>

<section>
	<h3>Services / API's</h3>

	<ol>
		<li>Dynamic forms service in Symfony [On Going]</li>
		<li>Dynamic forms service in Lumen [Pending]</li>
		<li>Dynamic forms service in Spring Boot [Upcoming]</li>
		<li>Dynamic forms service in Flask [Upcoming]</li>
		<li>Dynamic forms service in Go [Upcoming]</li>
	</ol>
</section>

<section>
	<h3>Web Apps</h3>

	<ol>
		<li>Dynamic forms apps in Angular [On Going]</li>
		<li>Dynamic forms apps in React/Next [Upcoming]</li>
		<li>Dynamic forms apps in Vue/Nuxt [Upcoming]</li>
	</ol>
</section>

<app-footer></app-footer>