<section class="my-portal-page my-portal-container">

	<!--<div class="my-portal-page-breadcrumb"></div>-->

	<h2 class="my-portal-page-title">Dynamic forms service in Laravel Lumen</h2>

	<div class="my-portal-page-content">

		<p>
			Layanan ini merupakan REST Service / API yang khusus menangani kebutuhan formulir dinamis (Dynamic Form).
			Menggunakan bahasa pemrograman <a class="underline decoration-green-600 text-green-600"
				href="https://www.php.net" target="_blank" rel="noopener noreferrer">PHP</a> serta framework <a
				class="underline decoration-green-600 text-green-600" href="https://lumen.laravel.com" target="_blank"
				rel="noopener noreferrer">Laravel Lumen</a>.
		</p>

		<p>
			Tujuan pembuatan layanan ini untuk memfasilitasi pengembang (pribadi ataupun orang lain) dalam proses
			pengembangan antarmuka (User Interface) formulir dinamis. Kebutuhan pengembangan tersebut meliputi :
		</p>

		<div class="container">
			<ul class="list-disc">
				<li>
					menampilkan jenis formulir
				</li>
				<li>
					menampilkan daftar pengaturan formulir sesuai dengan jenis formulir
				</li>
				<li>
					menyimpan data sesuai dengan jenis formulir
				</li>
			</ul>
		</div>

	</div>

</section>