/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

$max-width-container: global 86.9%;
$color-1: #FED049;
$color-2: #CFFDE1;
$color-3: #68B984;
$color-4: #3D5656;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
table { width: 100%; }

.my-portal-container {
	margin: 20px 7.9%;
	max-width: 90%;
}

.my-portal-service-title {
	width: fit-content;
	margin-top: 10px !important;
	margin-bottom: 25px !important;
	position: relative;

	&::after {
		content: '';
		background: #FED049;
		width: 0;
		height: 3px;
		position: absolute;
		bottom: 0;
		left: 0;
		transition: width 0.5s;
	}

	&:hover::after {
		width: 100%;
	}
}

.my-portal-service-title-center {
	margin: 10px auto 25px auto !important;
	position: relative;
	text-align: center;
	width: fit-content;

	&::after {
		content: '';
		background: #FED049;
		width: 0;
		height: 3px;
		position: absolute;
		bottom: 0;
		left: 0;
		transition: width 0.5s;
	}

	&:hover::after {
		width: 100%;
	}
}